# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

# Virtual environments
venv/
.venv/
env/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Git
.git
.gitignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tests / coverage
.coverage
htmlcov/
.pytest_cache/

# Docker
docker-compose.override.yml

# Environment variables
.env
.env.*