<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

  <!-- jquery & jQuery UI -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

  <!-- Ionicons -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <!-- Chart Js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"
          integrity="sha256-Y26AMvaIfrZ1EQU49pf6H4QzVTrOI8m9wQYKkftBt4s=" crossorigin="anonymous"></script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- ✅ Highlight.js pour le code -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
  <!-- ✅ Quill -->
  <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
  <script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>


  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/media.css' %}"/>

  <!-- Custom JS -->
  <script src="{% static 'js/main.js' %}" defer></script>
  <script src="{% static 'js/htmx.js' %}" defer></script>

  {% block css %}{% endblock css %}
  {% block scripts %}{% endblock scripts %}

  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<div class="container">
  <div class="header">
    {% include 'includes/navbar.html' %}
  </div>
  <div class="content">
    {% block content %}{% endblock content %}
  </div>
  <div class="footer">
    {% include 'includes/footer.html' %}
  </div>
</div>

<!-- Modal HTMX -->
<div id="modal" class="modal-overlay hidden">
  <div class="modal-dialog" id="dialog" hx-target="this">
    <!-- HTMX injectera le contenu ici -->
  </div>
</div>

<!-- HTMX -->
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
        integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
        crossorigin="anonymous"></script>

</body>
</html>